<!-- <ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-back-button defaultHref="/" text="Back" color="primary"></ion-back-button>
        </ion-buttons>
        <ion-title>Action Sheet</ion-title>
    </ion-toolbar>
</ion-header> -->

<app-header title="action sheet"></app-header>

<ion-content padding>
    <ion-button color="primary" expand="full" (click)="presentActionSheet()">
        <ion-label>Mostrar Action Sheet</ion-label>
    </ion-button>

</ion-content>