<app-header title="cards"></app-header>

<ion-content class="ion-padding">

    <ion-card mode="ios" color="primary">
        <ion-card-header>
            <ion-card-subtitle>Card with mode IOS</ion-card-subtitle>
            <ion-card-title>Card Title</ion-card-title>
        </ion-card-header>

        <ion-card-content>
            This card forces to use IOS style even on Android devices
        </ion-card-content>
    </ion-card>

    <ion-card>
        <ion-item>ion-item</ion-item>
        <ion-item color="primary">ion-item with color</ion-item>
        <ion-item>
            <ion-icon name="pin" slot="start"></ion-icon>
            <ion-label>ion-item with icon and label</ion-label>
        </ion-item>
        <ion-card-content>
            ion-card-content Keep close to Nature's heart... and break clear away, once in awhile, and climb a mountain or spend a week in the woods. Wash your spirit clean.
        </ion-card-content>
    </ion-card>

    <ion-card>
        <ion-img src="assets/shapes.svg"></ion-img>
    </ion-card>

    <ion-card>
        <ion-img src="assets/shapes.svg"></ion-img>
        <ion-card-content>
            ion-card-content Keep close to Nature's heart... and break clear away, once in awhile, and climb a mountain or spend a week in the woods. Wash your spirit clean.
        </ion-card-content>
    </ion-card>

</ion-content>